<mat-toolbar color="primary" class="topbar">
  <span class="logo">CineMorph <sup>Pro</sup></span>
  <span class="spacer"></span>
  <mat-form-field appearance="outline" class="search-box">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search for projects, files, templates...">
  </mat-form-field>
  <button mat-icon-button><mat-icon>help_outline</mat-icon></button>
  <button mat-icon-button><mat-icon>notifications</mat-icon></button>
  <img src="/assets/avatar.jpg" alt="User Avatar" class="avatar">
</mat-toolbar>