/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: rgb(217, 218, 222);
}

.d-grid {
    display: grid;
}

.d-flex,
.flex {
    display: flex;
}

a {
    text-decoration: none;
    /* Removes underline */
    /* color: inherit; */
    /* Keeps the color same as parent */
}

:root {
    @include mat.button-overrides((filled-container-color: orange,
            filled-disabled-container-color: red,
        ));
}



.cdk-drop-list-dragging .container {
  border: 2px dashed #42a5f5;
  background-color: #e3f2fd;
}
